<form action='/user/register' method='POST'>
  <input type='text' name='username' placeholder='username'><br>
  <input type='password' name='password' placeholder='password'><br>
  <input type='password' name='password_confirmation' placeholder='confirm password'><br>
  <input type='submit' value='Register'>
</form>
